##############################
## Gradle
##############################
.gradle
build/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/

##############################
## Eclipse
##############################
.settings/
.classpath
.project

##############################
## asdf
##############################
.tool-versions

##############################
## Visual Studio Code
##############################
.vscode/